<br />
<div class="container bg-light p-3 border">
  <div class="w-100 white-back shadow rounded text-center p-2">
    <h1 class="pb-3 pt-3 text-primary">{{ "Manage Products" | uppercase }}</h1>
    <hr />
    <br />

    <div class="row">
      <div class="col-md-6">
        <div class="mb-4">
          <h2>Add Products</h2>
        </div>
        <div class="form text-start">
          <div class="pro-id mb-3">
            <label for="proId" class="h6">Products Id:</label>
            <br />
            <input
              type="text"
              class="form-control"
              id="proId"
              placeholder="Enter products id"
              #id
            />
          </div>
          <div class="mb-3 pro-name">
            <label for="proName" class="h6">Products Name:</label>
            <br />
            <input
              type="text"
              class="form-control"
              id="proName"
              placeholder="Enter products name"
              #name
            />
          </div>
          <div class="pro-price mb-3">
            <label for="proPrice" class="h6">Products Price:</label>
            <br />
            <input
              type="number"
              placeholder="Enter products price"
              class="form-control"
              id="proPrice"
              #price
            />
          </div>
          <button class="btn btn-success" (click)="addProduct(id, name, price)">
            {{editData ? "Update Product" :"Add Product"}}
          </button>
          &nbsp;&nbsp;
          <button (click)="saveProducts()" class="btn btn-primary">
            Save Products
          </button>
          &nbsp;&nbsp;
          <button (click)="onfetchData()" class="btn btn-warning">
            Fetch products
          </button>
        </div>
        <br />
      </div>
      <div class="col-md-6">
        <div class="mb-5">
          <h2>{{ titleData | async}}</h2>
        </div>
        <div>
          <table class="table" *ngIf="products">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col" class="text-end">Price</th>
                <th class="text-end" scope="col">Edit</th>
                <th class="text-end" scope="col">Delete</th>
              </tr>
            </thead>
            <tbody *ngIf="!onShowSpinner">
              <ng-container *ngFor="let product of products; index as i">
                <tr class="h6">
                  <td class="pt-3 bg-success" scope="col">{{ i + 1 }}</td>
                  <td class="pt-3" scope="col">{{ product.id | lowercase }}</td>
                  <td class="pt-3" scope="col">
                    {{ product.name | titlecase }}
                  </td>
                  <td class="pt-3 text-end" scope="col">
                    {{ product.price }}tk
                  </td>
                  <td class="text-end" scope="col">
                    <button (click)="editButton(i)" class="btn btn-success">
                      Edit
                    </button>
                  </td>
                  <td class="text-end" scope="col">
                    <button (click)="deleteButton(i)" class="btn btn-danger">
                      Delete
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <ng-container *ngIf="onShowSpinner">
            <div
              class="text-center d-flex align-items-center justify-content-center"
            >
              <div class="spinner-border text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              &nbsp; Fetching products...
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
