<div class="contianer">
  <div>
    <ul>
      <li>
        <a href=""
        routerLink="manage-products"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        >Manage Products</a>
      </li>
      <li>
        <a href=""
        routerLink="manage-products-practice"
        routerLinkActive="active"
        >Manage Products Practice</a>
      </li>
      <li>
        <a href=""
        routerLink="manage-user"
        routerLinkActive="active"
        >Manage Users</a>
      </li>
      <li>
        <a href=""
        routerLink="manage-user-practice"
        routerLinkActive="active"
        >Manage Users Practice</a>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
